/*RESET*/

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: Arial, Helvetica, sans-serif;
}

/*UTILS*/

.container {
	margin: 0 auto;
	padding: 0;
	width: 800px;
	max-width: 100%;
	background-color: white;
}

h2 {
	font-size: 1.3rem;
	padding-bottom: 5px;
}

/*header*/

.header {
	padding-left: 10px;
	line-height: 80px;
}

.logo {
	height: 50px;
	vertical-align: middle;
}

.title-header {
	display: inline;
	vertical-align: middle;
	font-size: 2.3rem;
	font-weight: bolder;
}

/*main*/

.main-box {
	background-color: rgb(247, 248, 250);
	padding: 40px;
}

.button-section {
	border-bottom: solid 2px;
	border-color: rgb(247, 248, 250);
	padding: 10px 25px;
}

.button-section button {
	padding: 5px 10px;
	border-radius: 5px;
}

.first-button {
	background-color: rgb(74, 173, 241);
	color: white;
	border-color: rgb(74, 173, 241);
}

.second-button {
	background-color: white;
	color: lightgray;
	border-color: lightgray;
}

.list-section {
	padding-bottom: 20px;
}

ul {
	list-style: none;
	padding: 20px 25px 0;
}

li {
	padding-bottom: 15px;
}

li > button {
	border-style: none;
	font-size: 0.5rem;
}

.check {
	border-radius: 50%;
	border: solid green 1px;
	padding: 2px;
	color: green;
}

.cross {
	border-radius: 50%;
	border: solid red 1px;
	padding: 3px;
	color: red;
}

.check-list {
	color: white;
	border-radius: 20px;
	padding: 8px;
	background-color: rgb(69, 169, 227);
	font-size: 0.6rem;
}

.Q1goals {
	background-color: rgb(156, 119, 231);
}

.recruiting {
	background-color: rgb(104, 191, 166);
}

.mobile {
	background-color: rgb(244, 157, 58);
}

.website {
	background-color: rgb(216, 100, 157);
}

.sales {
	background-color: rgb(177, 202, 41);
}
